language: node_js
node_js:
 - "node"

cache: npm

script: npm run build

deploy:
 provider: pages
 skip_cleanup: true
 github_token: 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
 local_dir: dist
 on:
   branch: main